/* VerticalMenu.module.css */
.menuItem1 {
    display: flex;
    flex-direction: column;
  }
.verticalMenu {
    position: fixed;
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    width: 150px;
    overflow: visible;
    transition: width 0.5s ease; /* Анімація зміни висоти */
  }
 
  .menuItem {
    padding: 8px;
    cursor: pointer;
  }
  
  .subMenu {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 10px;
    overflow: hidden;
  }
  
  .subMenuItem {
    padding: 8px;
    cursor: pointer;
  }
  
  .subMenuItem:hover {
    background-color: #bbb;
  }
  .verticalMenu.open {
    width: 300px; 
  }
