.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
.fixed {
    position: fixed;
    right: auto;
    left: 0;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 1;
  }

@media screen and (max-width: 780px) {
  .header {
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
}